body {
    background: lightgray;
    color: rgb(200, 3, 240);
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    text-align: center;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33a;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: .5em;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: .8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}
